<section>
    <div class="row ">
        {{!-- <a href="admin/add-product" class="btn btn-success ml-auto mr-5 mt-3  ">Add Product</a>
    </div> --}}
    <div class="container">
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">DATE</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">PINCODE</th>
      <th scope="col">MOBILE</th>
      
      <th scope="col">AMOUNT</th>
      <th scope="col">PAYMENT</th>
     
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
    <tr>
     
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.Address}}</td>
      <td>{{this.deliveryDetails.Pin}}</td>
      <td>{{this.deliveryDetails.Mobile}}</td>
      
      <td>{{this.totalAmount}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>
      {{!-- <td><a href="/view-order-products/{{this._id}}" class="btn btn-success">View Products</a></td> --}}
     
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>