


<section>
    <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
      </div>
    <div class="container mt-5">
        <div class="row" id="myItems">
            {{#each products}}
            <div class="col-sm-4 col-md-3 p-3" >
                <div class="card" style="width: 15rem; height:26rem">
                    <div class=".card-container">
                        <div class="img-container">
                        <img class="card-img-top" style="height:14rem " src="/product-images/{{this._id}}.jpg"
                            class="img-responsive" alt="Card image cap">
                    </div>
                     </div>
                   

                    
                    {{!-- <img class="card-img-top" style="height:15rem " src="/product-images/{{this._id}}.jpg" class="img-responsive"
                        alt="Card image cap"> --}}
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">Rs.{{this.Price}}</p>

                        <p class="card-text">{{this.Description}}</p>
                        <div>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-outline-success mt-1">Add to
                                Cart</button>

                        </div>
                         

                    </div>
                </div>
            </div>



            {{/each}}

        </div>
    </div>
</section>
<script>
    function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}
</script>